.head {
  min-height: 148px;
  background: #F8F3F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  display: flex;
}

.breadcrumb__box-link:last-child .breadcrumb__link {
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumb__box-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.breadcrumb__link:hover {
  color: #F16D7F;
}

.slider {
  height: 777px;
  position: relative;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}

.slider__arrow:hover path {
  fill: #F16D7F;
}

.slider__arrow_left {
  left: 0;
}

.slider__arrow_right {
  right: 0;
}

.subcont {
  background-color: #fff;
  border: 1px solid #EAEAEA;
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 1140px;
  margin: -65px auto 0;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subcont_title {
  color: #F16D7F;
  font-weight: 300;
  font-size: 14px;
}

.subcont__divided {
  background: #EF5B70;
  height: 3px;
  width: 64px;
  border: 0;
  margin: 15px 0;
}

.subcont__name {
  color: #4D4D4D;
  font-size: 18px;
  font-weight: 300;
}

.subcont__desc {
  color: #5E5E5E;
  font-size: 14px;
  width: 555px;
  text-align: center;
  margin-top: 50px;
}

.subcont__price {
  font-size: 24px;
  font-weight: 300;
  color: #EF5B70;
  margin-top: 34px;
}

.subcont__dividerlight {
  background: #EAEAEA;
  height: 1px;
  width: 642px;
  border: 0;
  margin: 54px 0;
}

.but_addCart {
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  border: 1px solid #F26376;
  display: flex;
  padding: 15px 38px;
  cursor: pointer;
}

.reg {
  padding-top: 64px;
}

.regform {
  width: 360px;
}

.regform__label {
  font-size: 16px;
  font-weight: 300;
  color: #222;
  display: flex;
}

.regform fieldset {
  margin-top: 33px;
  border: 0;
}

.regform fieldset:first-child {
  margin-top: 0;
}

.regform__inputtext {
  margin-top: 20px;
  height: 45px;
  border: 1px solid #A4A4A4;
  display: flex;
  width: calc(100% - 34px);
  padding-left: 17px;
  padding-right: 17px;
}

.regform__inputtext::-moz-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}

.regform__inputtext:-ms-input-placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}

.regform__inputtext::placeholder {
  color: #B1B1B1;
  font-size: 13px;
  font-weight: 300;
}

.regform__inputtext:hover {
  background: #f2f2f2;
  transition: 0.3s;
}

.regform_radioset {
  display: flex;
  flex-direction: row;
  margin-top: 31px;
}

.regform__sex {
  display: flex;
  margin-left: 20px;
  font-size: 11px;
}
.regform__sex input[type=radio] {
  position: absolute;
  opacity: 0;
}
.regform__sex input[type=radio] + .regform_label-sex:before {
  content: "";
  background: #ffffff;
  border-radius: 100%;
  border: 1px solid #A4A4A4;
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
  margin-top: -4px;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
  font-size: 11px;
  font-weight: 300;
}
.regform__sex input[type=radio]:checked + .regform_label-sex:before {
  background-color: #A4A4A4;
  box-shadow: inset 0 0 0 4px #ffffff;
}
.regform__sex input[type=radio]:focus + .regform_label-sex:before {
  outline: none;
}
.regform__sex input[type=radio]:disabled + .regform_label-sex:before {
  box-shadow: inset 0 0 0 9px #d5d5d5;
}
.regform__sex input[type=radio] + .regform_label-sex:empty:before {
  margin-right: 0;
}

.regform__sex:first-child {
  margin-left: 0;
}

.regform_helper-password {
  font-size: 13px;
  font-weight: 300;
  color: #B1B1B1;
  margin-top: 15px;
}

.base-btn {
  min-height: 50px;
  border: 0px;
  background: #F16D7F;
  padding-left: 29px;
  padding-right: 29px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.base-btn:hover {
  background: #f16275;
  transition: 0.3s;
}

.regform__btn {
  margin-top: 40px;
}

.registraion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.advantages {
  width: 652px;
}

.advantages_name {
  font-size: 24px;
  font-weight: 300;
}

.advantages_desc {
  margin-top: 22px;
  font-size: 24px;
  font-weight: 300;
}

.tages_item {
  font-size: 24px;
  font-weight: 300;
  margin-top: 16px;
  padding-left: 42px;
  background: url(./img/item.png) no-repeat 0 center;
  list-style: none;
}

.tages_item:first-child {
  margin-top: 16px;
}

.advantages_tages {
  margin-top: 4px;
}/*# sourceMappingURL=style2.css.map */